<div class="modal fade" id="authentication-modal" tabindex="-1" role="dialog" aria-labelledby="authentication-modal-label" aria-hidden="true">
    <div class="modal-dialog mt-6" role="document">
        <div class="modal-content border-0">
            <div class="modal-header px-5 position-relative modal-shape-header bg-shape">
                <div class="position-relative z-index-1 light">
                    <h4 class="mb-0 text-white" id="authentication-modal-label">ثبت نام</h4>
                    <p class="fs--1 mb-0 text-white">لطفاً حساب شاهین رایگان خود را ایجاد کنید</p>
                </div><button class="btn-close btn-close-white position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal" aria-label="نزدیک"></button>
            </div>
            <div class="modal-body py-4 px-5">
                <form>
                    <div class="mb-3"><label class="form-label" for="modal-auth-name">نام</label><input class="form-control" type="text" autocomplete="on" id="modal-auth-name"></div>
                    <div class="mb-3"><label class="form-label" for="modal-auth-email">آدرس ایمیل</label><input class="form-control" type="email" autocomplete="on" id="modal-auth-email"></div>
                    <div class="row gx-2">
                        <div class="mb-3 col-sm-6"><label class="form-label" for="modal-auth-password">کلمه عبور</label><input class="form-control" type="password" autocomplete="on" id="modal-auth-password"></div>
                        <div class="mb-3 col-sm-6"><label class="form-label" for="modal-auth-confirm-password">رمز عبور را تایید کنید</label><input class="form-control" type="password" autocomplete="on" id="modal-auth-confirm-password"></div>
                    </div>
                    <div class="form-check"><input class="form-check-input" type="checkbox" id="modal-auth-register-checkbox"><label class="form-label" for="modal-auth-register-checkbox"><a href="#!">من شرایط</a> و <a href="#!">سیاست حفظ حریم خصوصی</a> را می پذیرم<a href="#!"></a></label></div>
                    <div class="mb-3"><button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">ثبت نام</button></div>
                </form>
                <div class="position-relative mt-5">
                    <hr class="bg-300">
                    <div class="divider-content-center">یا ثبت نام کنید</div>
                </div>
                <div class="row g-2 mt-2">
                    <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span>گوگل</a></div>
                    <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span>فیس بوک</a></div>
                </div>
            </div>
        </div>
    </div>
</div>