<div class="row g-3 mb-3">
    <div class="col-md-6 col-xxl-3">
        <div class="card h-md-100 ecommerce-card-min-width">
            <div class="card-header pb-0">
                <h6 class="mb-0 mt-2 d-flex align-items-center">فروش هفتگی<span class="ms-1 text-400" data-bs-toggle="tooltip" data-bs-placement="top" title="با توجه به فروش هفته گذشته محاسبه شده است"><span class="far fa-question-circle" data-fa-transform="shrink-1"></span></span></h6>
            </div>
            <div class="card-body d-flex flex-column justify-content-end">
                <div class="row">
                    <div class="col">
                        <p class="font-sans-serif lh-1 mb-1 fs-4">47 تومان</p><span class="badge badge-soft-success rounded-pill fs--2">+3.5%</span>
                    </div>
                    <div class="col-auto ps-0">
                        <div class="echart-bar-weekly-sales h-100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xxl-3">
        <div class="card h-md-100">
            <div class="card-header pb-0">
                <h6 class="mb-0 mt-2">کل سفارش</h6>
            </div>
            <div class="card-body d-flex flex-column justify-content-end">
                <div class="row justify-content-between">
                    <div class="col-auto align-self-end">
                        <div class="fs-4 fw-normal font-sans-serif text-700 lh-1 mb-1">58.4K</div><span class="badge rounded-pill fs--2 bg-200 text-primary"><span class="fas fa-caret-up me-1"></span>13.6%</span>
                    </div>
                    <div class="col-auto ps-0 mt-n4">
                        <div class="echart-default-total-order" data-echarts="{&quot;tooltip&quot;:{&quot;textStyle&quot;: {&quot;fontFamily&quot;:&quot;body-font&quot;},&quot;trigger&quot;:&quot;axis&quot;,&quot;formatter&quot;:&quot;{b0} : {c0}&quot;},&quot;xAxis&quot;:{&quot;data&quot;:[&quot;هفته 4ام&quot;,&quot;هفته 5ام&quot;,&quot;هفته 6ام&quot;,&quot;هفته 7ام&quot;]},&quot;series&quot;:[{&quot;type&quot;:&quot;line&quot;,&quot;data&quot;:[20,40,100,120],&quot;smooth&quot;:true,&quot;lineStyle&quot;:{&quot;width&quot;:3}}],&quot;grid&quot;:{&quot;bottom&quot;:&quot;2%&quot;,&quot;top&quot;:&quot;2%&quot;,&quot;right&quot;:&quot;10px&quot;,&quot;left&quot;:&quot;10px&quot;}}" data-echart-responsive="true"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xxl-3">
        <div class="card h-md-100">
            <div class="card-body">
                <div class="row h-100 justify-content-between g-0">
                    <div class="col-5 col-sm-6 col-xxl pe-2">
                        <h6 class="mt-1">سهم بازار</h6>
                        <div class="fs--2 mt-3">
                            <div class="d-flex flex-between-center mb-1">
                                <div class="d-flex align-items-center"><span class="dot bg-primary"></span><span class="fw-semi-bold">سامسونگ</span></div>
                                <div class="d-xxl-none">33%</div>
                            </div>
                            <div class="d-flex flex-between-center mb-1">
                                <div class="d-flex align-items-center"><span class="dot bg-info"></span><span class="fw-semi-bold">هواوی</span></div>
                                <div class="d-xxl-none">29%</div>
                            </div>
                            <div class="d-flex flex-between-center mb-1">
                                <div class="d-flex align-items-center"><span class="dot bg-300"></span><span class="fw-semi-bold">هواوی</span></div>
                                <div class="d-xxl-none">20%</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto position-relative">
                        <div class="echart-market-share"></div>
                        <div class="position-absolute top-50 start-50 translate-middle text-dark fs-2">26M</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xxl-3">
        <div class="card h-md-100">
            <div class="card-header d-flex flex-between-center pb-0">
                <h6 class="mb-0">آب و هوا</h6>
                <div class="dropdown font-sans-serif btn-reveal-trigger">
                    <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal" type="button" id="dropdown-weather-update" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--2"></span></button>
                    <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-weather-update">
                        <a class="dropdown-item" href="#!">مشاهده</a><a class="dropdown-item" href="#!">صادر کردن</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">حذف</a>
                    </div>
                </div>
            </div>
            <div class="card-body pt-2">
                <div class="row g-0 h-100 align-items-center">
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <img class="me-3" src="/Admin/assets/img/icons/weather-icon.png" alt="" height="60">
                            <div>
                                <h6 class="mb-2">شهر نیویورک</h6>
                                <div class="fs--2 fw-semi-bold">
                                    <div class="text-warning">آفتابی</div>میزان بارندگی: 50%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto text-center ps-2">
                        <div class="fs-4 fw-normal font-sans-serif text-primary mb-1 lh-1">31 درجه</div>
                        <div class="fs--1 text-800">32 درجه / 25 درجه</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-0">
    <div class="col-lg-6 pe-lg-2 mb-3">
        <div class="card h-lg-100 overflow-hidden">
            <div class="card-header bg-light">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="mb-0">پروژه های در حال اجرا</h6>
                    </div>
                    <div class="col-auto text-center pe-card">
                        <select class="form-select form-select-sm">
                            <option>زمان کار</option>
                            <option>زمان تخمین زده شده</option>
                            <option>زمان قابل پرداخت</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="row g-0 align-items-center py-2 position-relative border-bottom border-200">
                    <div class="col ps-card py-1 position-static">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-xl me-3">
                                <div class="avatar-name rounded-circle bg-soft-primary text-dark"><span class="fs-0 text-primary">اف</span></div>
                            </div>
                            <div class="flex-1">
                                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">شاهین</a><span class="badge rounded-pill ms-2 bg-200 text-primary">38%</span></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col py-1">
                        <div class="row flex-end-center g-0">
                            <div class="col-auto pe-2">
                                <div class="fs--1 fw-semi-bold">12:50:00</div>
                            </div>
                            <div class="col-5 pe-card ps-2">
                                <div class="progress bg-200 me-2" style="height: 5px;">
                                    <div class="progress-bar rounded-pill" role="progressbar" style="width: 38%" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0 align-items-center py-2 position-relative border-bottom border-200">
                    <div class="col ps-card py-1 position-static">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-xl me-3">
                                <div class="avatar-name rounded-circle bg-soft-success text-dark"><span class="fs-0 text-success">آر</span></div>
                            </div>
                            <div class="flex-1">
                                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">سلطنت کنید</a><span class="badge rounded-pill ms-2 bg-200 text-primary">79%</span></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col py-1">
                        <div class="row flex-end-center g-0">
                            <div class="col-auto pe-2">
                                <div class="fs--1 fw-semi-bold">25:20:00</div>
                            </div>
                            <div class="col-5 pe-card ps-2">
                                <div class="progress bg-200 me-2" style="height: 5px;">
                                    <div class="progress-bar rounded-pill" role="progressbar" style="width: 79%" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0 align-items-center py-2 position-relative border-bottom border-200">
                    <div class="col ps-card py-1 position-static">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-xl me-3">
                                <div class="avatar-name rounded-circle bg-soft-info text-dark"><span class="fs-0 text-info">ب</span></div>
                            </div>
                            <div class="flex-1">
                                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">چکمه 4</a><span class="badge rounded-pill ms-2 bg-200 text-primary">90%</span></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col py-1">
                        <div class="row flex-end-center g-0">
                            <div class="col-auto pe-2">
                                <div class="fs--1 fw-semi-bold">58:20:00</div>
                            </div>
                            <div class="col-5 pe-card ps-2">
                                <div class="progress bg-200 me-2" style="height: 5px;">
                                    <div class="progress-bar rounded-pill" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0 align-items-center py-2 position-relative border-bottom border-200">
                    <div class="col ps-card py-1 position-static">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-xl me-3">
                                <div class="avatar-name rounded-circle bg-soft-warning text-dark"><span class="fs-0 text-warning">آر</span></div>
                            </div>
                            <div class="flex-1">
                                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">کلاغ سیاه</a><span class="badge rounded-pill ms-2 bg-200 text-primary">40%</span></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col py-1">
                        <div class="row flex-end-center g-0">
                            <div class="col-auto pe-2">
                                <div class="fs--1 fw-semi-bold">21:20:00</div>
                            </div>
                            <div class="col-5 pe-card ps-2">
                                <div class="progress bg-200 me-2" style="height: 5px;">
                                    <div class="progress-bar rounded-pill" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0 align-items-center py-2 position-relative">
                    <div class="col ps-card py-1 position-static">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-xl me-3">
                                <div class="avatar-name rounded-circle bg-soft-danger text-dark"><span class="fs-0 text-danger">اس</span></div>
                            </div>
                            <div class="flex-1">
                                <h6 class="mb-0 d-flex align-items-center"><a class="text-800 stretched-link" href="#!">نرم</a><span class="badge rounded-pill ms-2 bg-200 text-primary">70%</span></h6>
                            </div>
                        </div>
                    </div>
                    <div class="col py-1">
                        <div class="row flex-end-center g-0">
                            <div class="col-auto pe-2">
                                <div class="fs--1 fw-semi-bold">31:20:00</div>
                            </div>
                            <div class="col-5 pe-card ps-2">
                                <div class="progress bg-200 me-2" style="height: 5px;">
                                    <div class="progress-bar rounded-pill" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-light p-0"><a class="btn btn-sm btn-link d-block w-100 py-2" href="#!">نمایش همه پروژه ها<span class="fas fa-chevron-left ms-1" data-fa-transform="shrink-4 down-1"></span></a></div>
        </div>
    </div>
    <div class="col-lg-6 ps-lg-2 mb-3">
        <div class="card h-lg-100">
            <div class="card-header">
                <div class="row flex-between-center">
                    <div class="col-auto">
                        <h6 class="mb-0">کل فروش</h6>
                    </div>
                    <div class="col-auto d-flex">
                        <select class="form-select form-select-sm select-month me-2">
                            <option value="0">فروردین</option>
                            <option value="1">اردیبهش</option>
                            <option value="2">خرداد</option>
                            <option value="3">تیر</option>
                            <option value="4">مرداد</option>
                            <option value="5">شهریور</option>
                            <option value="6">مهر</option>
                            <option value="7">آبان</option>
                            <option value="8">آذر</option>
                            <option value="9">دی</option>
                            <option value="10">بهمن</option>
                            <option value="11">اسفند</option>
                        </select>
                        <div class="dropdown font-sans-serif btn-reveal-trigger">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal" type="button" id="dropdown-total-sales" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--2"></span></button>
                            <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-total-sales">
                                <a class="dropdown-item" href="#!">مشاهده</a><a class="dropdown-item" href="#!">صادر کردن</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">حذف</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body h-100 pe-0">
                <!-- Find the JS file for the following chart at: src\js\charts\echarts\total-sales.js-->
                <!-- If you are not using gulp based workflow, you can find the transpiled code at: public\/Admin/assets\js\theme.js-->
                <div class="echart-line-total-sales h-100" data-echart-responsive="true"></div>
            </div>
        </div>
    </div>
</div>
<div class="row g-0">
    <div class="col-lg-6 col-xl-7 col-xxl-8 mb-3 pe-lg-2 mb-3">
        <div class="card h-lg-100">
            <div class="card-body d-flex align-items-center">
                <div class="w-100">
                    <h6 class="mb-3 text-800">استفاده از فضای ذخیره سازی <strong class="text-dark">1775.06 مگابایت</strong> از 2 گیگابایت</h6>
                    <div class="progress mb-3 rounded-3" style="height: 10px;">
                        <div class="progress-bar bg-progress-gradient border-end border-white border-2" role="progressbar" style="width: 43.72%" aria-valuenow="43.72" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-info border-end border-white border-2" role="progressbar" style="width: 18.76%" aria-valuenow="18.76" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-success border-end border-white border-2" role="progressbar" style="width: 9.38%" aria-valuenow="9.38" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-200" role="progressbar" style="width: 28.14%" aria-valuenow="28.14" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="row fs--1 fw-semi-bold text-500 g-0">
                        <div class="col-auto d-flex align-items-center pe-3"><span class="dot bg-primary"></span><span>منظم</span><span class="d-none d-md-inline-block d-lg-none d-xxl-inline-block">(895MB)</span></div>
                        <div class="col-auto d-flex align-items-center pe-3"><span class="dot bg-info"></span><span>سیستم</span><span class="d-none d-md-inline-block d-lg-none d-xxl-inline-block">(379MB)</span></div>
                        <div class="col-auto d-flex align-items-center pe-3"><span class="dot bg-success"></span><span>به اشتراک گذاشته شده است</span><span class="d-none d-md-inline-block d-lg-none d-xxl-inline-block">(192MB)</span></div>
                        <div class="col-auto d-flex align-items-center"><span class="dot bg-200"></span><span>رایگان</span><span class="d-none d-md-inline-block d-lg-none d-xxl-inline-block">(576MB)</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-5 col-xxl-4 mb-3 ps-lg-2">
        <div class="card h-lg-100">
            <div class="bg-holder bg-card" style="background-image:url(/Admin/assets/img/icons/spot-illustrations/corner-1.png);"></div>
            <!--/.bg-holder-->
            <div class="card-body position-relative">
                <h5 class="text-warning">آیا فضای خود را تمام کردید؟</h5>
                <p class="fs--1 mb-0">فضای ذخیره شما به زودی تمام می شود. فضای بیشتر و ویژگی های بهره وری قدرتمند را دریافت کنید.</p><a class="btn btn-link fs--1 text-warning mt-lg-3 ps-0" href="#!">حافظه را ارتقا دهید<span class="fas fa-chevron-left ms-1" data-fa-transform="shrink-4 down-1"></span></a>
            </div>
        </div>
    </div>
</div>
<div class="row g-0">
    <div class="col-lg-7 col-xl-8 pe-lg-2 mb-3">
        <div class="card h-lg-100 overflow-hidden">
            <div class="card-body p-0">
                <div class="table-responsive scrollbar">
                    <table class="table table-dashboard mb-0 table-borderless fs--1 border-200">
                        <thead class="bg-light">
                            <tr class="text-900">
                                <th>پرفروش ترین محصولات</th>
                                <th class="text-end">درآمد (3333 تومان)</th>
                                <th class="pe-card text-end" style="width: 8rem">درآمد (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-bottom border-200">
                                <td>
                                    <div class="d-flex align-items-center position-relative">
                                        <img class="rounded-1 border border-200" src="/Admin/assets/img/products/12.png" width="60" alt="">
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-1 fw-semi-bold"><a class="text-dark stretched-link" href="#!">ریون پرو</a></h6>
                                            <p class="fw-semi-bold mb-0 text-500">صفحه فرود</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-end fw-semi-bold">1311 تومان</td>
                                <td class="align-middle pe-card">
                                    <div class="d-flex align-items-center">
                                        <div class="progress me-3 rounded-3 bg-200" style="height: 5px;width:80px">
                                            <div class="progress-bar rounded-pill" role="progressbar" style="width: 39%;" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="fw-semi-bold ms-2">39%</div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="border-bottom border-200">
                                <td>
                                    <div class="d-flex align-items-center position-relative">
                                        <img class="rounded-1 border border-200" src="/Admin/assets/img/products/10.png" width="60" alt="">
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-1 fw-semi-bold"><a class="text-dark stretched-link" href="#!">چکمه 4</a></h6>
                                            <p class="fw-semi-bold mb-0 text-500">نمونه کارها</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-end fw-semi-bold">860 تومان</td>
                                <td class="align-middle pe-card">
                                    <div class="d-flex align-items-center">
                                        <div class="progress me-3 rounded-3 bg-200" style="height: 5px;width:80px">
                                            <div class="progress-bar rounded-pill" role="progressbar" style="width: 26%;" aria-valuenow="26" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="fw-semi-bold ms-2">26%</div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="border-bottom border-200">
                                <td>
                                    <div class="d-flex align-items-center position-relative">
                                        <img class="rounded-1 border border-200" src="/Admin/assets/img/products/11.png" width="60" alt="">
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-1 fw-semi-bold"><a class="text-dark stretched-link" href="#!">شاهین</a></h6>
                                            <p class="fw-semi-bold mb-0 text-500">مدیر</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-end fw-semi-bold">539 تومان</td>
                                <td class="align-middle pe-card">
                                    <div class="d-flex align-items-center">
                                        <div class="progress me-3 rounded-3 bg-200" style="height: 5px;width:80px">
                                            <div class="progress-bar rounded-pill" role="progressbar" style="width: 16%;" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="fw-semi-bold ms-2">16%</div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="border-bottom border-200">
                                <td>
                                    <div class="d-flex align-items-center position-relative">
                                        <img class="rounded-1 border border-200" src="/Admin/assets/img/products/14.png" width="60" alt="">
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-1 fw-semi-bold"><a class="text-dark stretched-link" href="#!">نرم</a></h6>
                                            <p class="fw-semi-bold mb-0 text-500">سازنده</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-end fw-semi-bold">343 تومان</td>
                                <td class="align-middle pe-card">
                                    <div class="d-flex align-items-center">
                                        <div class="progress me-3 rounded-3 bg-200" style="height: 5px;width:80px">
                                            <div class="progress-bar rounded-pill" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="fw-semi-bold ms-2">10%</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center position-relative">
                                        <img class="rounded-1 border border-200" src="/Admin/assets/img/products/13.png" width="60" alt="">
                                        <div class="flex-1 ms-3">
                                            <h6 class="mb-1 fw-semi-bold"><a class="text-dark stretched-link" href="#!">قالب لیندی</a></h6>
                                            <p class="fw-semi-bold mb-0 text-500">آژانس</p>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle text-end fw-semi-bold">280 تومان</td>
                                <td class="align-middle pe-card">
                                    <div class="d-flex align-items-center">
                                        <div class="progress me-3 rounded-3 bg-200" style="height: 5px;width:80px">
                                            <div class="progress-bar rounded-pill" role="progressbar" style="width: 8%;" aria-valuenow="8" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="fw-semi-bold ms-2">8%</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer bg-light py-2">
                <div class="row flex-between-center">
                    <div class="col-auto">
                        <select class="form-select form-select-sm">
                            <option>7 روز گذشته</option>
                            <option>ماه گذشته</option>
                            <option>سال گذشته</option>
                        </select>
                    </div>
                    <div class="col-auto"><a class="btn btn-sm btn-falcon-default" href="#!">مشاهده همه</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-xl-4 ps-lg-2 mb-3">
        <div class="card">
            <div class="card-header d-flex flex-between-center bg-light py-2">
                <h6 class="mb-0">فایل های به اشتراک گذاشته شده</h6><a class="py-1 fs--1 font-sans-serif" href="#!">مشاهده همه</a>
            </div>
            <div class="card-body pb-0">
                <div class="d-flex mb-3 hover-actions-trigger align-items-center">
                    <div class="file-thumbnail"><img class="border h-100 w-100 fit-cover rounded-2" src="/Admin/assets/img/products/5-thumb.png" alt=""></div>
                    <div class="ms-3 flex-shrink-1 flex-grow-1">
                        <h6 class="mb-1"><a class="stretched-link text-900 fw-semi-bold" href="#!">apple-smart-watch.png</a></h6>
                        <div class="fs--1"><span class="fw-semi-bold">آنتونی </span><span class="fw-medium text-600 ms-2">همین الان</span></div>
                        <div class="hover-actions end-0 top-50 translate-middle-y"><a class="btn btn-light border-300 btn-sm me-1 text-600" data-bs-toggle="tooltip" data-bs-placement="top" title="Download" href="/Admin/assets/img/icons/cloud-download.svg" download="download"><img src="/Admin/assets/img/icons/cloud-download.svg" alt="" width="15"></a><button class="btn btn-light border-300 btn-sm me-1 text-600 shadow-none" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><img src="/Admin/assets/img/icons/edit-alt.svg" alt="" width="15"></button></div>
                    </div>
                </div>
                <hr class="bg-200">
                <div class="d-flex mb-3 hover-actions-trigger align-items-center">
                    <div class="file-thumbnail"><img class="border h-100 w-100 fit-cover rounded-2" src="/Admin/assets/img/products/3-thumb.png" alt=""></div>
                    <div class="ms-3 flex-shrink-1 flex-grow-1">
                        <h6 class="mb-1"><a class="stretched-link text-900 fw-semi-bold" href="#!">iphone.jpg</a></h6>
                        <div class="fs--1"><span class="fw-semi-bold">آنتونی </span><span class="fw-medium text-600 ms-2">دیروز در ساعت 1:30 بعد از ظهر</span></div>
                        <div class="hover-actions end-0 top-50 translate-middle-y"><a class="btn btn-light border-300 btn-sm me-1 text-600" data-bs-toggle="tooltip" data-bs-placement="top" title="Download" href="/Admin/assets/img/icons/cloud-download.svg" download="download"><img src="/Admin/assets/img/icons/cloud-download.svg" alt="" width="15"></a><button class="btn btn-light border-300 btn-sm me-1 text-600 shadow-none" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><img src="/Admin/assets/img/icons/edit-alt.svg" alt="" width="15"></button></div>
                    </div>
                </div>
                <hr class="bg-200">
                <div class="d-flex mb-3 hover-actions-trigger align-items-center">
                    <div class="file-thumbnail"><img class="img-fluid" src="/Admin/assets/img/icons/zip.png" alt=""></div>
                    <div class="ms-3 flex-shrink-1 flex-grow-1">
                        <h6 class="mb-1"><a class="stretched-link text-900 fw-semi-bold" href="#!">فالکون نسخه 1.8.2</a></h6>
                        <div class="fs--1"><span class="fw-semi-bold">جین </span><span class="fw-medium text-600 ms-2">27 شهریور ساعت 10:30 صبح</span></div>
                        <div class="hover-actions end-0 top-50 translate-middle-y"><a class="btn btn-light border-300 btn-sm me-1 text-600" data-bs-toggle="tooltip" data-bs-placement="top" title="Download" href="/Admin/assets/img/icons/cloud-download.svg" download="download"><img src="/Admin/assets/img/icons/cloud-download.svg" alt="" width="15"></a><button class="btn btn-light border-300 btn-sm me-1 text-600 shadow-none" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><img src="/Admin/assets/img/icons/edit-alt.svg" alt="" width="15"></button></div>
                    </div>
                </div>
                <hr class="bg-200">
                <div class="d-flex mb-3 hover-actions-trigger align-items-center">
                    <div class="file-thumbnail"><img class="border h-100 w-100 fit-cover rounded-2" src="/Admin/assets/img/products/2-thumb.png" alt=""></div>
                    <div class="ms-3 flex-shrink-1 flex-grow-1">
                        <h6 class="mb-1"><a class="stretched-link text-900 fw-semi-bold" href="#!">iMac.jpg</a></h6>
                        <div class="fs--1"><span class="fw-semi-bold">روون </span><span class="fw-medium text-600 ms-2">23 شهریور ساعت 6:10 بعد از ظهر</span></div>
                        <div class="hover-actions end-0 top-50 translate-middle-y"><a class="btn btn-light border-300 btn-sm me-1 text-600" data-bs-toggle="tooltip" data-bs-placement="top" title="Download" href="/Admin/assets/img/icons/cloud-download.svg" download="download"><img src="/Admin/assets/img/icons/cloud-download.svg" alt="" width="15"></a><button class="btn btn-light border-300 btn-sm me-1 text-600 shadow-none" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><img src="/Admin/assets/img/icons/edit-alt.svg" alt="" width="15"></button></div>
                    </div>
                </div>
                <hr class="bg-200">
                <div class="d-flex mb-3 hover-actions-trigger align-items-center">
                    <div class="file-thumbnail"><img class="img-fluid" src="/Admin/assets/img/icons/docs.png" alt=""></div>
                    <div class="ms-3 flex-shrink-1 flex-grow-1">
                        <h6 class="mb-1"><a class="stretched-link text-900 fw-semi-bold" href="#!">functions.php</a></h6>
                        <div class="fs--1"><span class="fw-semi-bold">جان </span><span class="fw-medium text-600 ms-2">1 خرداد در 4:30 بعد از ظهر</span></div>
                        <div class="hover-actions end-0 top-50 translate-middle-y"><a class="btn btn-light border-300 btn-sm me-1 text-600" data-bs-toggle="tooltip" data-bs-placement="top" title="Download" href="/Admin/assets/img/icons/cloud-download.svg" download="download"><img src="/Admin/assets/img/icons/cloud-download.svg" alt="" width="15"></a><button class="btn btn-light border-300 btn-sm me-1 text-600 shadow-none" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><img src="/Admin/assets/img/icons/edit-alt.svg" alt="" width="15"></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row g-0">
    <div class="col-sm-6 col-xxl-3 pe-sm-2 mb-3 mb-xxl-0">
        <div class="card">
            <div class="card-header d-flex flex-between-center bg-light py-2">
                <h6 class="mb-0">کاربران فعال</h6>
                <div class="dropdown font-sans-serif btn-reveal-trigger">
                    <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal" type="button" id="dropdown-active-user" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--2"></span></button>
                    <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-active-user">
                        <a class="dropdown-item" href="#!">مشاهده</a><a class="dropdown-item" href="#!">صادر کردن</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">حذف</a>
                    </div>
                </div>
            </div>
            <div class="card-body py-2">
                <div class="d-flex align-items-center position-relative mb-3">
                    <div class="avatar avatar-2xl status-online">
                        <img class="rounded-circle" src="/Admin/assets/img/team/1.jpg" alt="">
                    </div>
                    <div class="flex-1 ms-3">
                        <h6 class="mb-0 fw-semi-bold"><a class="stretched-link text-900" href="pages/user/profile.html">اما واتسون</a></h6>
                        <p class="text-500 fs--2 mb-0">مدیر</p>
                    </div>
                </div>
                <div class="d-flex align-items-center position-relative mb-3">
                    <div class="avatar avatar-2xl status-online">
                        <img class="rounded-circle" src="/Admin/assets/img/team/2.jpg" alt="">
                    </div>
                    <div class="flex-1 ms-3">
                        <h6 class="mb-0 fw-semi-bold"><a class="stretched-link text-900" href="pages/user/profile.html">آنتونی هاپکینز</a></h6>
                        <p class="text-500 fs--2 mb-0">مجری</p>
                    </div>
                </div>
                <div class="d-flex align-items-center position-relative mb-3">
                    <div class="avatar avatar-2xl status-away">
                        <img class="rounded-circle" src="/Admin/assets/img/team/3.jpg" alt="">
                    </div>
                    <div class="flex-1 ms-3">
                        <h6 class="mb-0 fw-semi-bold"><a class="stretched-link text-900" href="pages/user/profile.html">آنا کارینینا</a></h6>
                        <p class="text-500 fs--2 mb-0">ویرایشگر</p>
                    </div>
                </div>
                <div class="d-flex align-items-center position-relative mb-3">
                    <div class="avatar avatar-2xl status-offline">
                        <img class="rounded-circle" src="/Admin/assets/img/team/4.jpg" alt="">
                    </div>
                    <div class="flex-1 ms-3">
                        <h6 class="mb-0 fw-semi-bold"><a class="stretched-link text-900" href="pages/user/profile.html">جان لی</a></h6>
                        <p class="text-500 fs--2 mb-0">مدیر</p>
                    </div>
                </div>
                <div class="d-flex align-items-center position-relative false">
                    <div class="avatar avatar-2xl status-offline">
                        <img class="rounded-circle" src="/Admin/assets/img/team/5.jpg" alt="">
                    </div>
                    <div class="flex-1 ms-3">
                        <h6 class="mb-0 fw-semi-bold"><a class="stretched-link text-900" href="pages/user/profile.html">روون اتکینسون</a></h6>
                        <p class="text-500 fs--2 mb-0">ویرایشگر</p>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-light p-0"><a class="btn btn-sm btn-link d-block w-100 py-2" href="app/social/followers.html">همه کاربران فعال<span class="fas fa-chevron-left ms-1" data-fa-transform="shrink-4 down-1"></span></a></div>
        </div>
    </div>
    <div class="col-sm-6 col-xxl-3 ps-sm-2 order-xxl-1 mb-3 mb-xxl-0">
        <div class="card h-100">
            <div class="card-header bg-light d-flex flex-between-center py-2">
                <h6 class="mb-0">پهنای باند ذخیره شد</h6>
                <div class="dropdown font-sans-serif btn-reveal-trigger">
                    <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal" type="button" id="dropdown-bandwidth-saved" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--2"></span></button>
                    <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-bandwidth-saved">
                        <a class="dropdown-item" href="#!">مشاهده</a><a class="dropdown-item" href="#!">صادر کردن</a>
                        <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">حذف</a>
                    </div>
                </div>
            </div>
            <div class="card-body d-flex flex-center flex-column">
                <!-- Find the JS file for the following chart at: src/js/charts/echarts/bandwidth-saved.js-->
                <!-- If you are not using gulp based workflow, you can find the transpiled code at: public//Admin/assets/js/theme.js-->
                <div class="echart-bandwidth-saved" data-echart-responsive="true"></div>
                <div class="text-center mt-3">
                    <h6 class="fs-0 mb-1"><span class="fas fa-check text-success me-1" data-fa-transform="shrink-2"></span>35.75 گیگابایت ذخیره شده است</h6>
                    <p class="fs--1 mb-0">پهنای باند کل 38.44 گیگابایت</p>
                </div>
            </div>
            <div class="card-footer bg-light py-2">
                <div class="row flex-between-center">
                    <div class="col-auto">
                        <select class="form-select form-select-sm">
                            <option>6 ماه گذشته</option>
                            <option>سال گذشته</option>
                            <option>2 سال گذشته</option>
                        </select>
                    </div>
                    <div class="col-auto"><a class="fs--1 font-sans-serif" href="#!">کمک</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-6 px-xxl-2">
        <div class="card h-100">
            <div class="card-header bg-light py-2">
                <div class="row flex-between-center">
                    <div class="col-auto">
                        <h6 class="mb-0">محصولات برتر</h6>
                    </div>
                    <div class="col-auto d-flex">
                        <a class="btn btn-link btn-sm me-2" href="#!">دیدن جزئیات</a>
                        <div class="dropdown font-sans-serif btn-reveal-trigger">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle dropdown-caret-none btn-reveal" type="button" id="dropdown-top-products" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--2"></span></button>
                            <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="dropdown-top-products">
                                <a class="dropdown-item" href="#!">مشاهده</a><a class="dropdown-item" href="#!">صادر کردن</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">حذف</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body h-100">
                <!-- Find the JS file for the following chart at: src/js/charts/echarts/top-products.js-->
                <!-- If you are not using gulp based workflow, you can find the transpiled code at: public//Admin/assets/js/theme.js-->
                <div class="echart-bar-top-products h-100" data-echart-responsive="true"></div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">ممنون که با فالکون خلق کردید</p>
        </div>
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">نسخه 3.4.0</p>
        </div>
    </div>
</footer>
