<section data-id="portfolio" class="animated-section">
    <div class="section-content">
        <div class="page-title">
            <h2>نمونه‌کارها</h2>
            <h4>بهترین کارها و پروژه‌های من</h4>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Portfolio Content -->
                <div class="portfolio-content">

                    <ul class="grid-filters portfolio-filters">
                        <li class="active">
                            <a class="filter" data-filter="*">همه</a>
                        </li>
                        <li>
                            <a class="filter" data-filter=".category_detailed">با جزئیات</a>
                        </li>
                        <li>
                            <a class="filter" data-filter=".category_images">تصویر</a>
                        </li>
                        <li>
                            <a class="filter" data-filter=".category_soundcloud">صوتی</a>
                        </li>
                        <li>
                            <a class="filter" data-filter=".category_local-videos">ویدئوی لوکال</a>
                        </li>
                        <li>
                            <a class="filter" data-filter=".category_youtube-videos">ویدئوی یوتیوب</a>
                        </li>
                    </ul>

                    <!-- Portfolio Grid -->
                    <div class="portfolio-grid two-columns">

                        <figure class="item lbimage category_images">
                            <div class="portfolio-item-img">
                                <img src="/CV/img/portfolio/1.jpg" alt="Mockup Design 1">
                                <a class="lightbox" href="/CV/img/portfolio/full/1.jpg" title=""></a>
                            </div>

                            <i class="far fa-image"></i>
                            <h4 class="name">طراحی <span>ماکت</span></h4>
                            <span class="category">تصویر</span>
                        </figure>

                        <figure class="item lbvideo category_local-videos">
                            <div class="portfolio-item-img">
                                <img src="/CV/img/portfolio/2.jpg" alt="Local Video 1">
                                <a href="ajax/video-iframe.html" class="lightbox mfp-iframe" title=""></a>
                            </div>

                            <i class="fas fa-video"></i>
                            <h4 class="name">ویدئوی <span>لوکال</span></h4>
                            <span class="category">ویدئوی لوکال</span>
                        </figure>

                        <figure class="item standard category_detailed">
                            <div class="portfolio-item-img">
                                <img src="/CV/img/portfolio/3.jpg" alt="Media Project 1">
                                <a href="ajax/portfolio-1.html" class="ajax-page-load" title=""></a>
                            </div>

                            <i class="far fa-file-alt"></i>
                            <h4 class="name">رسانه <span>با جزئیات</span></h4>
                            <span class="category">با جزئیات</span>
                        </figure>

                        <figure class="item lbaudio category_soundcloud">
                            <div class="portfolio-item-img">
                                <img src="/CV/img/portfolio/4.jpg" alt="SoundCloud Audio">
                                <a href="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/221650664&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true" class="lightbox mfp-iframe" title=""></a>
                            </div>

                            <i class="fa fa-volume-up"></i>
                            <h4 class="name">رسانه <span>صوتی</span></h4>
                            <span class="category">صوتی</span>
                        </figure>

                        <figure class="item lbimage category_images">
                            <div class="portfolio-item-img">
                                <img src="/CV/img/portfolio/5.jpg" alt="Mockup Design 2">
                                <a class="lightbox" href="/CV/img/portfolio/full/5.jpg" title=""></a>
                            </div>

                            <i class="far fa-image"></i>
                            <h4 class="name">طراحی <span>ماکت</span></h4>
                            <span class="category">تصویر</span>
                        </figure>

                        <figure class="item lbvideo category_youtube-videos">
                            <div class="portfolio-item-img">
                                <img src="/CV/img/portfolio/6.jpg" alt="YouTube Video 1">
                                <a href="https://www.youtube.com/embed/bg0gv2YpIok" class="lightbox mfp-iframe" title=""></a>
                            </div>

                            <i class="fas fa-video"></i>
                            <h4 class="name">ویدئوی <span>یوتیوب</span></h4>
                            <span class="category">ویدئوی یوتیوب</span>
                        </figure>

                    </div>
                </div>
                <!-- End of Portfolio Content -->
            </div>
        </div>
    </div>
</section>