@model AboutMeViewModel
<section data-id="about-me" class="animated-section">
    <div class="section-content">

        <div class="row flex-v-align">
            <div class="col-12 col-md-6 col-lg-7 col-xl-6">
                <div class="home-text hp-left">

                    <div class="owl-carousel text-rotation">
                        <div class="item">
                            <h4>طراح وب</h4>
                        </div>
                        <div class="item">
                            <h4>طراح رابط کاربری</h4>
                        </div>
                    </div>

                    <h1>علی رضا خلیلی</h1>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با</p>

                    <div class="home-buttons">
                        <a href="#" target="_blank" class="btn btn-primary">دریافت رزومه</a>
                        <a href="#contact" target="_self" class="btn btn-secondary">تماس</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-5 col-xl-6">
                <div class="home-photo">
                    <div class="hp-inner" style="background-image: url(/CV/img/main_photo_1.jpg);"></div>
                </div>
            </div>
        </div>

        <div class="white-space-70"></div>

        <!-- Fun Facts -->
        <div class="row">
            <div class="col-12 col-md-4 col-lg-12 col-xl-4">
                <div class="fun-fact gray-default">
                    <i class="lnr lnr-heart"></i>
                    <h4>مشتریان راضی</h4>
                    <span class="fun-fact-block-value">578</span>
                    <span class="fun-fact-block-text"></span>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-12 col-xl-4">
                <div class="fun-fact gray-default">
                    <i class="lnr lnr-clock"></i>
                    <h4>ساعات کاری</h4>
                    <span class="fun-fact-block-value">4,780</span>
                    <span class="fun-fact-block-text"></span>
                </div>
            </div>

            <div class="col-12 col-md-4 col-lg-12 col-xl-4">
                <div class="fun-fact gray-default">
                    <i class="lnr lnr-star"></i>
                    <h4>برنده جایزه</h4>
                    <span class="fun-fact-block-value">15</span>
                    <span class="fun-fact-block-text"></span>
                </div>
            </div>
        </div>
        <!-- End of Fun Facts -->

        <div class="white-space-70"></div>

        <!-- Services -->
        <div class="row">
            <div class="col-12">
                <div class="block-title">
                    <h3>آنچه انجام می‌دهم</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="col-inner">
                    <div class="info-list-w-icon">
                        <div class="info-block-w-icon">
                            <div class="ci-icon">
                                <i class="lnr lnr-store"></i>
                            </div>
                            <div class="ci-text">
                                <h4>تجارت الکترونیک</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که</p>
                            </div>
                        </div>
                        <div class="info-block-w-icon">
                            <div class="ci-icon">
                                <i class="lnr lnr-laptop-phone"></i>
                            </div><div class="ci-text">
                                <h4>طراحی وب</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <div class="col-inner">
                    <div class="info-list-w-icon">
                        <div class="info-block-w-icon">
                            <div class="ci-icon">
                                <i class="lnr lnr-pencil"></i>
                            </div>
                            <div class="ci-text">
                                <h4>برندسازی</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که</p>
                            </div>
                        </div>
                        <div class="info-block-w-icon">
                            <div class="ci-icon">
                                <i class="lnr lnr-flag"></i>
                            </div><div class="ci-text">
                                <h4>مدیریت</h4>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Services -->

        <div class="white-space-50"></div>

        <!-- Testimonials -->
        <div class="row">
            <div class="col-12">
                <div class="block-title">
                    <h3>سخن مشتریان</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="testimonials owl-carousel">
                    <!-- Testimonial 1 -->
                    <div class="testimonial">
                        <div class="img">
                            <img src="/CV/img/testimonials/testimonial-1.jpg" alt="Alex Smith">
                        </div>
                        <div class="text">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد</p>
                        </div>

                        <div class="author-info">
                            <h4 class="author">استیو جابز</h4>
                            <h5 class="company">رئیس اپل</h5>
                            <div class="icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <!-- End of Testimonial 1 -->
                    <!-- Testimonial 2 -->
                    <div class="testimonial">
                        <div class="img">
                            <img src="/CV/img/testimonials/testimonial-2.jpg" alt="Alex Smith">
                        </div>
                        <div class="text">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد</p>
                        </div>

                        <div class="author-info">
                            <h4 class="author">بیل گیتس</h4>
                            <h5 class="company">بنیان‌گذار مایکروسافت</h5>
                            <div class="icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <!-- End of Testimonial 2 -->
                    <!-- Testimonial 3 -->
                    <div class="testimonial">
                        <div class="img">
                            <img src="/CV/img/testimonials/testimonial-3.jpg" alt="Alex Smith">
                        </div>
                        <div class="text">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد</p>
                        </div>

                        <div class="author-info">
                            <h4 class="author">ایلان ماسک</h4>
                            <h5 class="company">تسلا الکترونیک</h5>
                            <div class="icon">
                                <i class="fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <!-- End of Testimonial 3 -->
                </div>
            </div>
        </div>
        <!-- End of Testimonials -->

        <div class="white-space-70"></div>

        <!-- Clients -->
        <div class="row">
            <div class="col-12">
                <div class="block-title">
                    <h3>مشتریان</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="clients owl-carousel">

                    <div class="client-block">
                        <a href="#" target="_blank" title="Logo">
                            <img src="/CV/img/clients/client-1.png" alt="Logo">
                        </a>
                    </div>

                    <div class="client-block">
                        <a href="#" target="_blank" title="Logo">
                            <img src="/CV/img/clients/client-2.png" alt="Logo">
                        </a>
                    </div>

                    <div class="client-block">
                        <a href="#" target="_blank" title="Logo">
                            <img src="/CV/img/clients/client-3.png" alt="Logo">
                        </a>
                    </div>

                    <div class="client-block">
                        <a href="#" target="_blank" title="Logo">
                            <img src="/CV/img/clients/client-4.png" alt="Logo">
                        </a>
                    </div>

                    <div class="client-block">
                        <a href="#" target="_blank" title="Logo">
                            <img src="/CV/img/clients/client-5.png" alt="Logo">
                        </a>
                    </div>

                    <div class="client-block">
                        <a href="#" target="_blank" title="Logo">
                            <img src="/CV/img/clients/client-6.png" alt="Logo">
                        </a>
                    </div>

                    <div class="client-block">
                        <a href="#" target="_blank" title="Logo">
                            <img src="/CV/img/clients/client-7.png" alt="Logo">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of Clients -->

        <div class="white-space-70"></div>

    </div>
</section>