<section data-id="resume" class="animated-section">
    <div class="section-content">
        <div class="page-title">
            <h2>رزومه</h2>
            <h4>11 سال کسب تجربه و مهارت</h4>
        </div>

        <div class="row">
            <div class="col-12 col-md-7 col-lg-12 col-xl-7">

                <div class="block-title">
                    <h3>تحصیلات</h3>
                </div>

                <div class="timeline timeline-second-style clearfix">
                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">1399</h5>
                            <span class="item-company">دانشگاه هاروارد</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">توسعه رابط کاربری</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان</p>
                        </div>
                    </div>

                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">1398</h5>
                            <span class="item-company">دانشگاه هاروارد</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">طراحی گرافیک</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        </div>
                    </div>
                </div>

                <div class="white-space-50"></div>

                <div class="block-title">
                    <h3>سوابق کاری</h3>
                </div>

                <div class="timeline timeline-second-style clearfix">
                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">1396 - تا کنون</h5>
                            <span class="item-company">گوگل</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">طراح UI/UX ارشد</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                        </div>
                    </div>

                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">1393 - 1396</h5>
                            <span class="item-company">آدوبی</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">طراح رابط کاربری</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان</p>
                        </div>
                    </div>

                    <div class="timeline-item clearfix">
                        <div class="left-part">
                            <h5 class="item-period">1391 - 1393</h5>
                            <span class="item-company">گوگل</span>
                        </div>
                        <div class="divider"></div>
                        <div class="right-part">
                            <h4 class="item-title">توسعه دهنده وب</h4>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان</p>
                        </div>
                    </div>
                </div>

            </div>

            <!-- Skills & Certificates -->
            <div class="col-12 col-md-5 col-lg-12 col-xl-5 mt-5 mt-md-0 mt-lg-5 mt-xl-0">
                <!-- Design Skills -->
                <div class="block-title">
                    <h3>مهارت‌های طراحی</h3>
                </div>

                <div class="skills-info skills-second-style">
                    <!-- Skill 1 -->
                    <div class="skill clearfix">
                        <h4>طراحی وب</h4>
                        <div class="skill-value">95%</div>
                    </div>
                    <div class="skill-container skill-1">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 1 -->
                    <!-- Skill 2 -->
                    <div class="skill clearfix">
                        <h4>طراحی چاپ</h4>
                        <div class="skill-value">65%</div>
                    </div>
                    <div class="skill-container skill-2">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 2 -->
                    <!-- Skill 3 -->
                    <div class="skill clearfix">
                        <h4>طراحی لوگو</h4>
                        <div class="skill-value">80%</div>
                    </div>
                    <div class="skill-container skill-3">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 3 -->
                    <!-- Skill 4 -->
                    <div class="skill clearfix">
                        <h4>طراحی گرافیک</h4>
                        <div class="skill-value">90%</div>
                    </div>
                    <div class="skill-container skill-4">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 4 -->

                </div>
                <!-- End of Design Skills -->

                <div class="white-space-10"></div>

                <!-- Coding Skills -->
                <div class="block-title">
                    <h3>مهارت های کدنویسی</h3>
                </div>

                <div class="skills-info skills-second-style">
                    <!-- Skill 5 -->
                    <div class="skill clearfix">
                        <h4>Javascript</h4>
                        <div class="skill-value">95%</div>
                    </div>
                    <div class="skill-container skill-5">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 5 -->
                    <!-- Skill 6 -->
                    <div class="skill clearfix">
                        <h4>PHP</h4>
                        <div class="skill-value">85%</div>
                    </div>
                    <div class="skill-container skill-6">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 6 -->
                    <!-- Skill 7 -->
                    <div class="skill clearfix">
                        <h4>HTML/CSS</h4>
                        <div class="skill-value">100%</div>
                    </div>
                    <div class="skill-container skill-7">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 7 -->
                    <!-- Skill 8 -->
                    <div class="skill clearfix">
                        <h4>Pyton</h4>
                        <div class="skill-value">75%</div>
                    </div>
                    <div class="skill-container skill-8">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 8 -->
                    <!-- Skill 9 -->
                    <div class="skill clearfix">
                        <h4>Perl</h4>
                        <div class="skill-value">90%</div>
                    </div>
                    <div class="skill-container skill-9">
                        <div class="skill-percentage"></div>
                    </div>
                    <!-- End of Skill 9 -->
                </div>
                <!-- End of Coding Skills -->

                <div class="white-space-10"></div>

                <!-- Kno wledges -->
                <div class="block-title">
                    <h3>دانش‌ها</h3>
                </div>

                <ul class="knowledges">
                    <li>بازاریابی</li>
                    <li>چاپ</li>
                    <li>طراحی دیجیتال</li>
                    <li>شبکه اجتماعی</li>
                    <li>مدیریت زمان</li>
                    <li>ارتباطات</li>
                    <li>حل مسئله</li>
                    <li>بازاریابی اجتماعی</li>
                    <li>انعطاف پذیری</li>
                </ul>
                <!-- End of Knowledges -->
            </div>
            <!-- End of Skills & Certificates -->
        </div>

        <div class="white-space-50"></div>

        <!-- Certificates -->
        <div class="row">
            <div class="col-12">
                <div class="block-title">
                    <h3>مدارک</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Certificate 1 -->
            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                <div class="certificate-item clearfix">
                    <div class="certi-logo">
                        <img src="/CV/img/clients/client-1.png" alt="logo">
                    </div>

                    <div class="certi-content">
                        <div class="certi-title">
                            <h4>روانشناسی طراحی بین المللی</h4>
                        </div>
                        <div class="certi-id">
                            <span>شناسه عضویت: 1234</span>
                        </div>
                        <div class="certi-date">
                            <span>19 خرداد 1396</span>
                        </div>
                        <div class="certi-company">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Certificate 1 -->
            <!-- Certificate 2 -->
            <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                <div class="certificate-item clearfix">
                    <div class="certi-logo">
                        <img src="/CV/img/clients/client-1.png" alt="logo">
                    </div>

                    <div class="certi-content">
                        <div class="certi-title">
                            <h4>روانشناسی طراحی بین المللی</h4>
                        </div>
                        <div class="certi-id">
                            <span>شناسه عضویت: 1234</span>
                        </div>
                        <div class="certi-date">
                            <span>19 خرداد 1396</span>
                        </div>
                        <div class="certi-company">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Certificate 2 -->

        </div>
        <!-- End of Certificates -->
    </div>
</section>
