<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand" style="display: none;">
    <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    <a class="navbar-brand me-1 me-sm-3" href="index.html">
        <div class="d-flex align-items-center"><img class="me-2" src="/Admin/assets/img/icons/spot-illustrations/falcon.png" alt="" width="40"><span class="font-sans-serif">شاهین</span></div>
    </a>
    <ul class="navbar-nav align-items-center d-none d-lg-block">
        <li class="nav-item">
            <div class="search-box" data-list="{&quot;valueNames&quot;:[&quot;title&quot;]}">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                    <input class="form-control search-input fuzzy-search" type="search" placeholder="جستجو کردن..." aria-label="جستجو کردن">
                    <span class="fas fa-search search-box-icon"></span>
                </form>
                <div class="btn-close-falcon-container position-absolute end-0 top-50 translate-middle shadow-none" data-bs-dismiss="search">
                    <div class="btn-close-falcon" aria-label="Close"></div>
                </div>
                <div class="dropdown-menu border font-base start-0 mt-2 py-0 overflow-hidden w-100">
                    <div class="scrollbar list py-3" style="max-height: 24rem;">
                        <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">اخیراً مرور شده است</h6><a class="dropdown-item fs--1 px-card py-1 hover-primary" href="app/events/event-detail.html">
                            <div class="d-flex align-items-center">
                                <span class="fas fa-circle me-2 text-300 fs--2"></span>
                                <div class="fw-normal title">صفحات<span class="fas fa-chevron-left mx-1 text-500 fs--2" data-fa-transform="shrink-2"></span>مناسبت ها</div>
                            </div>
                        </a>
                        <a class="dropdown-item fs--1 px-card py-1 hover-primary" href="app/e-commerce/customers.html">
                            <div class="d-flex align-items-center">
                                <span class="fas fa-circle me-2 text-300 fs--2"></span>
                                <div class="fw-normal title">تجارت الکترونیک<span class="fas fa-chevron-left mx-1 text-500 fs--2" data-fa-transform="shrink-2"></span>مشتریان</div>
                            </div>
                        </a>
                        <hr class="bg-200 dark__bg-900">
                        <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">فیلتر پیشنهادی</h6><a class="dropdown-item px-card py-1 fs-0" href="app/e-commerce/customers.html">
                            <div class="d-flex align-items-center">
                                <span class="badge fw-medium text-decoration-none me-2 badge-soft-warning">مشتریان:</span>
                                <div class="flex-1 fs--1 title">لیست همه مشتریان</div>
                            </div>
                        </a>
                        <a class="dropdown-item px-card py-1 fs-0" href="app/events/event-detail.html">
                            <div class="d-flex align-items-center">
                                <span class="badge fw-medium text-decoration-none me-2 badge-soft-success">مناسبت ها:</span>
                                <div class="flex-1 fs--1 title">آخرین رویدادهای ماه جاری</div>
                            </div>
                        </a>
                        <a class="dropdown-item px-card py-1 fs-0" href="app/e-commerce/product/product-grid.html">
                            <div class="d-flex align-items-center">
                                <span class="badge fw-medium text-decoration-none me-2 badge-soft-info">محصولات:</span>
                                <div class="flex-1 fs--1 title">محبوب ترین محصولات</div>
                            </div>
                        </a>
                        <hr class="bg-200 dark__bg-900">
                        <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">فایل ها</h6><a class="dropdown-item px-card py-2" href="#!">
                            <div class="d-flex align-items-center">
                                <div class="file-thumbnail me-2"><img class="border h-100 w-100 fit-cover rounded-3" src="/Admin/assets/img/products/3-thumb.png" alt=""></div>
                                <div class="flex-1">
                                    <h6 class="mb-0 title">آیفون</h6>
                                    <p class="fs--2 mb-0 d-flex"><span class="fw-semi-bold">آنتونی</span><span class="fw-medium text-600 ms-2">27 شهریور ساعت 10:30 صبح</span></p>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item px-card py-2" href="#!">
                            <div class="d-flex align-items-center">
                                <div class="file-thumbnail me-2"><img class="img-fluid" src="/Admin/assets/img/icons/zip.png" alt=""></div>
                                <div class="flex-1">
                                    <h6 class="mb-0 title">فالکون نسخه 1.8.2</h6>
                                    <p class="fs--2 mb-0 d-flex"><span class="fw-semi-bold">جان</span><span class="fw-medium text-600 ms-2">30 شهریور ساعت 12:30 ب.ظ</span></p>
                                </div>
                            </div>
                        </a>
                        <hr class="bg-200 dark__bg-900">
                        <h6 class="dropdown-header fw-medium text-uppercase px-card fs--2 pt-0 pb-2">اعضا</h6><a class="dropdown-item px-card py-2" href="pages/user/profile.html">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-l status-online me-2">
                                    <img class="rounded-circle" src="/Admin/assets/img/team/1.jpg" alt="">
                                </div>
                                <div class="flex-1">
                                    <h6 class="mb-0 title">آنا کارینینا</h6>
                                    <p class="fs--2 mb-0 d-flex">هوش برتر</p>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item px-card py-2" href="pages/user/profile.html">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-l me-2">
                                    <img class="rounded-circle" src="/Admin/assets/img/team/2.jpg" alt="">
                                </div>
                                <div class="flex-1">
                                    <h6 class="mb-0 title">آنتونی هاپکینز</h6>
                                    <p class="fs--2 mb-0 d-flex">اعتماد مغز</p>
                                </div>
                            </div>
                        </a>
                        <a class="dropdown-item px-card py-2" href="pages/user/profile.html">
                            <div class="d-flex align-items-center">
                                <div class="avatar avatar-l me-2">
                                    <img class="rounded-circle" src="/Admin/assets/img/team/3.jpg" alt="">
                                </div>
                                <div class="flex-1">
                                    <h6 class="mb-0 title">اما واتسون</h6>
                                    <p class="fs--2 mb-0 d-flex">گوگل</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="text-center mt-n3">
                        <p class="fallback fw-bold fs-1 d-none">هیچ نتیجه ای یافت نشد.</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
        <li class="nav-item">
            <div class="theme-control-toggle fa-icon-wait px-2"><input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle" type="checkbox" data-theme-control="theme" value="dark"><label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="به طرح زمینه روشن بروید"><span class="fas fa-sun fs-0"></span></label><label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="به طرح زمینه تیره بروید"><span class="fas fa-moon fs-0"></span></label></div>
        </li>
        <li class="nav-item">
            <a class="nav-link px-0 notification-indicator notification-indicator-warning notification-indicator-fill fa-icon-wait" href="app/e-commerce/shopping-cart.html"><span class="fas fa-shopping-cart" data-fa-transform="shrink-7" style="font-size: 33px;"></span><span class="notification-indicator-number">1</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link notification-indicator notification-indicator-primary px-0 fa-icon-wait" id="navbarDropdownNotification" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-bell" data-fa-transform="shrink-6" style="font-size: 33px;"></span></a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-card dropdown-menu-notification" aria-labelledby="navbarDropdownNotification">
                <div class="card card-notification shadow-none">
                    <div class="card-header">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <h6 class="card-header-title mb-0">اطلاعیه</h6>
                            </div>
                            <div class="col-auto ps-0 ps-sm-3"><a class="card-link fw-normal" href="#">همه را به عنوان خوانده شده علامت بزن</a></div>
                        </div>
                    </div>
                    <div class="scrollbar-overlay" style="max-height:19rem">
                        <div class="list-group list-group-flush fw-normal fs--1">
                            <div class="list-group-title border-bottom">جدید</div>
                            <div class="list-group-item">
                                <a class="notification notification-flush notification-unread" href="#!">
                                    <div class="notification-avatar">
                                        <div class="avatar avatar-2xl me-3">
                                            <img class="rounded-circle" src="/Admin/assets/img/team/1-thumb.png" alt="">
                                        </div>
                                    </div>
                                    <div class="notification-body">
                                        <p class="mb-1"><strong>اما واتسون</strong> به نظر شما پاسخ داد: "سلام دنیا 😍"</p>
                                        <span class="notification-time"><span class="me-2" role="img" aria-label="ایموجی">💬</span> همین الان</span>
                                    </div>
                                </a>
                            </div>
                            <div class="list-group-item">
                                <a class="notification notification-flush notification-unread" href="#!">
                                    <div class="notification-avatar">
                                        <div class="avatar avatar-2xl me-3">
                                            <div class="avatar-name rounded-circle"><span>آ.ب</span></div>
                                        </div>
                                    </div>
                                    <div class="notification-body">
                                        <p class="mb-1"><strong>آلبرت بروکس</strong> به وضعیت <strong>مینا احمدی</strong> واکنش نشان داد</p>
                                        <span class="notification-time"><svg class="svg-inline--fa fa-gratipay fa-w-16 me-2 text-danger" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="gratipay" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" data-fa-i2svg=""><path fill="currentColor" d="M248 8C111.1 8 0 119.1 0 256s111.1 248 248 248 248-111.1 248-248S384.9 8 248 8zm114.6 226.4l-113 152.7-112.7-152.7c-8.7-11.9-19.1-50.4 13.6-72 28.1-18.1 54.6-4.2 68.5 11.9 15.9 17.9 46.6 16.9 61.7 0 13.9-16.1 40.4-30 68.1-11.9 32.9 21.6 22.6 60 13.8 72z"></path></svg><!-- <span class="me-2 fab fa-gratipay text-danger"></span> Font Awesome fontawesome.com -->9 ساعت</span>
                                    </div>
                                </a>
                            </div>
                            <div class="list-group-title border-bottom">قبل تر</div>
                            <div class="list-group-item">
                                <a class="notification notification-flush" href="#!">
                                    <div class="notification-avatar">
                                        <div class="avatar avatar-2xl me-3">
                                            <img class="rounded-circle" src="/Admin/assets/img/icons/weather-sm.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="notification-body">
                                        <p class="mb-1">پیش بینی امروز کمترین دمای 20 درجه در کالیفرنیا را نشان می دهد. </p>
                                        <span class="notification-time"><span class="me-2" role="img" aria-label="Emoji">🌤️</span>1روز</span>
                                    </div>
                                </a>
                            </div>
                            <div class="list-group-item">
                                <a class="border-bottom-0 notification-unread  notification notification-flush" href="#!">
                                    <div class="notification-avatar">
                                        <div class="avatar avatar-xl me-3">
                                            <img class="rounded-circle" src="/Admin/assets/img/logos/oxford.png" alt="">
                                        </div>
                                    </div>
                                    <div class="notification-body">
                                        <p class="mb-1"><strong>دانشگاه آکسفورد</strong>  رویدادی ایجاد کرد: "استنتاج علی هیلاری 2019"</p>
                                        <span class="notification-time"><span class="me-2" role="img" aria-label="Emoji">✌️</span>1هفته</span>
                                    </div>
                                </a>
                            </div>
                            <div class="list-group-item">
                                <a class="border-bottom-0 notification notification-flush" href="#!">
                                    <div class="notification-avatar">
                                        <div class="avatar avatar-xl me-3">
                                            <img class="rounded-circle" src="/Admin/assets/img/team/10.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="notification-body">
                                        <p class="mb-1"><strong>جیمز کامرون</strong>  برای پیوستن به این گروه دعوت شد: صندوق بین المللی کودکان سازمان ملل</p>
                                        <span class="notification-time"><span class="me-2" role="img" aria-label="Emoji">🙋‍</span>2روز</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center border-top"><a class="card-link d-block" href="app/social/notifications.html">دیدن همه</a></div>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link pe-0" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-xl">
                    <img class="rounded-circle" src="/Admin/assets/img/team/3-thumb.png" alt="">
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                    <a class="dropdown-item fw-bold text-warning" href="#!"><span class="fas fa-crown me-1"></span><span>اشتراک ویژه</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!">تنظیم وضعیت</a>
                    <a class="dropdown-item" href="pages/user/profile.html">نمایه و حساب کاربری</a>
                    <a class="dropdown-item" href="#!">بازخورد</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="pages/user/settings.html">تنظیمات</a>
                    <a class="dropdown-item" href="pages/authentication/card/logout.html">خروج</a>
                </div>
            </div>
        </li>
    </ul>
</nav>
<nav class="navbar navbar-light navbar-glass navbar-top navbar-expand-lg" style="display: none;" data-move-target="#navbarVerticalNav" data-navbar-top="combo">
    <button class="btn navbar-toggler-humburger-icon navbar-toggler me-1 me-sm-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    <a class="navbar-brand me-1 me-sm-3" href="index.html">
        <div class="d-flex align-items-center"><img class="me-2" src="/Admin/assets/img/icons/spot-illustrations/falcon.png" alt="" width="40"><span class="font-sans-serif">شاهین</span></div>
    </a>
    <div class="collapse navbar-collapse scrollbar" id="navbarStandard">
        <ul class="navbar-nav" data-top-nav-dropdowns="data-top-nav-dropdowns">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dashboards">داشبورد</a>
                <div class="dropdown-menu dropdown-menu-card border-0 mt-0" aria-labelledby="dashboards">
                    <div class="bg-white dark__bg-1000 rounded-3 py-2"><a class="dropdown-item link-600 fw-medium" href="index.html">پیش فرض</a><a class="dropdown-item link-600 fw-medium" href="dashboard/analytics.html">تجزیه و تحلیل</a><a class="dropdown-item link-600 fw-medium" href="dashboard/crm.html">CRM</a><a class="dropdown-item link-600 fw-medium" href="dashboard/e-commerce.html">تجارت الکترونیک</a><a class="dropdown-item link-600 fw-medium" href="dashboard/project-management.html">مدیریت</a><a class="dropdown-item link-600 fw-medium" href="dashboard/saas.html">SaaS</a></div>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="apps">برنامه</a>
                <div class="dropdown-menu dropdown-menu-card border-0 mt-0" aria-labelledby="apps">
                    <div class="card navbar-card-app shadow-none dark__bg-1000">
                        <div class="card-body scrollbar max-h-dropdown">
                            <img class="img-dropdown" src="/Admin/assets/img/icons/spot-illustrations/authentication-corner.png" width="130" alt="">
                            <div class="row">
                                <div class="col-6 col-md-5">
                                    <div class="nav flex-column">
                                        <a class="nav-link py-1 link-600 fw-medium" href="app/calendar.html">تقویم</a><a class="nav-link py-1 link-600 fw-medium" href="app/chat.html">چت کنید</a><a class="nav-link py-1 link-600 fw-medium" href="app/kanban.html">کانبان</a>
                                        <p class="nav-link text-700 mb-0 fw-bold">پست الکترونیک</p><a class="nav-link py-1 link-600 fw-medium" href="app/email/inbox.html">صندوق ورودی</a><a class="nav-link py-1 link-600 fw-medium" href="app/email/email-detail.html">جزئیات ایمیل</a><a class="nav-link py-1 link-600 fw-medium" href="app/email/compose.html">نوشتن ایمیل</a>
                                        <p class="nav-link text-700 mb-0 fw-bold">مناسبت ها</p><a class="nav-link py-1 link-600 fw-medium" href="app/events/create-an-event.html">یک رویداد ایجاد کنید</a><a class="nav-link py-1 link-600 fw-medium" href="app/events/event-detail.html">جزئیات رویداد</a><a class="nav-link py-1 link-600 fw-medium" href="app/events/event-list.html">لیست رویداد</a>
                                        <p class="nav-link text-700 mb-0 fw-bold">اجتماعی</p><a class="nav-link py-1 link-600 fw-medium" href="app/social/feed.html">خوراک feed</a><a class="nav-link py-1 link-600 fw-medium" href="app/social/activity-log.html">گزارش فعالیت</a><a class="nav-link py-1 link-600 fw-medium" href="app/social/notifications.html">اطلاعیه</a><a class="nav-link py-1 link-600 fw-medium" href="app/social/followers.html">دنبال کنندگان</a>
                                    </div>
                                </div>
                                <div class="col-6 col-md-4">
                                    <div class="nav flex-column">
                                        <p class="nav-link text-700 mb-0 fw-bold">تجارت الکترونیک</p><a class="nav-link py-1 link-600 fw-medium" href="app/e-commerce/product/product-list.html">لیست محصولات</a><a class="nav-link py-1 link-600 fw-medium" href="app/e-commerce/product/product-grid.html">گرید محصول</a><a class="nav-link py-1 link-600 fw-medium" href="app/e-commerce/product/product-details.html">مشخصات محصول</a><a class="nav-link py-1 link-600 fw-medium" href="app/e-commerce/orders/order-list.html">لیست سفارش</a><a class="nav-link py-1 link-600 fw-medium" href="app/e-commerce/orders/order-details.html">جزئیات سفارش</a><a class="nav-link py-1 link-600 fw-medium" href="app/e-commerce/customers.html">مشتریان</a><a class="nav-link py-1 link-600 fw-medium" href="app/e-commerce/customer-details.html">اطلاعات مشتری</a><a class="nav-link py-1 link-600 fw-medium" href="app/e-commerce/shopping-cart.html">سبد خرید</a><a class="nav-link py-1 link-600 fw-medium" href="app/e-commerce/checkout.html">صفحه پرداخت</a><a class="nav-link py-1 link-600 fw-medium" href="app/e-commerce/billing.html">صورتحساب</a><a class="nav-link py-1 link-600 fw-medium" href="app/e-commerce/invoice.html">فاکتور</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="pagess">صفحات</a>
                <div class="dropdown-menu dropdown-menu-card border-0 mt-0" aria-labelledby="pagess">
                    <div class="card navbar-card-pages shadow-none dark__bg-1000">
                        <div class="card-body scrollbar max-h-dropdown">
                            <img class="img-dropdown" src="/Admin/assets/img/icons/spot-illustrations/authentication-corner.png" width="130" alt="">
                            <div class="row">
                                <div class="col-6 col-xxl-3">
                                    <div class="nav flex-column">
                                        <p class="nav-link text-700 mb-0 fw-bold">احراز هویت پایه</p><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/simple/login.html">ورود</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/simple/logout.html">خروج</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/simple/register.html">ثبت نام</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/simple/forgot-password.html">رمز عبور را فراموش کرده اید</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/simple/confirm-mail.html">تایید ایمیل</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/simple/reset-password.html">بازنشانی رمز عبور</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/simple/lock-screen.html">صفحه قفل</a>
                                    </div>
                                </div>
                                <div class="col-6 col-xxl-3">
                                    <div class="nav flex-column">
                                        <p class="nav-link text-700 mb-0 fw-bold">کارت اعتباری</p><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/card/login.html">ورود</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/card/logout.html">خروج</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/card/register.html">ثبت نام</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/card/forgot-password.html">رمز عبور را فراموش کرده اید</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/card/confirm-mail.html">تایید ایمیل</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/card/reset-password.html">بازنشانی رمز عبور</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/card/lock-screen.html">صفحه قفل</a>
                                    </div>
                                </div>
                                <div class="col-6 col-xxl-3">
                                    <div class="nav flex-column">
                                        <p class="nav-link text-700 mb-0 fw-bold">احراز هویت کاور</p><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/split/login.html">ورود</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/split/logout.html">خروج</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/split/register.html">ثبت نام</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/split/forgot-password.html">رمز عبور را فراموش کرده اید</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/split/confirm-mail.html">تایید ایمیل</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/split/reset-password.html">بازنشانی رمز عبور</a><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/split/lock-screen.html">صفحه قفل</a>
                                    </div>
                                </div>
                                <div class="col-6 col-xxl-3">
                                    <div class="nav flex-column">
                                        <p class="nav-link text-700 mb-0 fw-bold">سایر احراز هویت</p><a class="nav-link py-1 link-600 fw-medium" href="pages/authentication/wizard.html">شعبده باز</a><a class="nav-link py-1 link-600 fw-medium" href="#authentication-modal" data-bs-toggle="modal">مودال</a>
                                        <p class="nav-link text-700 mb-0 fw-bold">متفرقه</p><a class="nav-link py-1 link-600 fw-medium" href="pages/miscellaneous/associations.html">انجمن ها</a><a class="nav-link py-1 link-600 fw-medium" href="pages/miscellaneous/invite-people.html">مردم را دعوت کنید</a><a class="nav-link py-1 link-600 fw-medium" href="pages/miscellaneous/privacy-policy.html">سیاست حفظ حریم خصوصی</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-xxl-3">
                                    <div class="nav flex-column">
                                        <p class="nav-link text-700 mb-0 fw-bold">کاربر</p><a class="nav-link py-1 link-600 fw-medium" href="pages/user/profile.html">مشخصات</a><a class="nav-link py-1 link-600 fw-medium" href="pages/user/settings.html">تنظیمات</a>
                                    </div>
                                </div>
                                <div class="col-6 col-xxl-3">
                                    <div class="nav flex-column">
                                        <p class="nav-link text-700 mb-0 fw-bold">قیمت گذاری</p><a class="nav-link py-1 link-600 fw-medium" href="pages/pricing/pricing-default.html">تعرفه پیش‌فرض</a><a class="nav-link py-1 link-600 fw-medium" href="pages/pricing/pricing-alt.html">تعرفه جایگزین</a>
                                    </div>
                                </div>
                                <div class="col-6 col-xxl-3">
                                    <div class="nav flex-column">
                                        <p class="nav-link text-700 mb-0 fw-bold">خطاها</p><a class="nav-link py-1 link-600 fw-medium" href="pages/errors/404.html">404</a><a class="nav-link py-1 link-600 fw-medium" href="pages/errors/500.html">500</a>
                                    </div>
                                </div>
                                <div class="col-6 col-xxl-3">
                                    <div class="nav flex-column">
                                        <p class="nav-link text-700 mb-0 fw-bold">دیگران</p><a class="nav-link py-1 link-600 fw-medium" href="pages/starter.html">شروع کننده</a><a class="nav-link py-1 link-600 fw-medium" href="pages/landing.html">صفحه فرود</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="moduless">ماژول ها</a>
                <div class="dropdown-menu dropdown-menu-card border-0 mt-0" aria-labelledby="moduless">
                    <div class="card navbar-card-components shadow-none dark__bg-1000">
                        <div class="card-body scrollbar max-h-dropdown">
                            <img class="img-dropdown" src="/Admin/assets/img/icons/spot-illustrations/authentication-corner.png" width="130" alt="">
                            <div class="row">
                                <div class="col-6 col-xxl-3">
                                    <div class="nav flex-column">
                                        <p class="nav-link text-700 mb-0 fw-bold">عناصر</p><a class="nav-link py-1 link-600 fw-medium" href="modules/components/accordion.html">آکاردئون</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/alerts.html">هشدارها</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/anchor.html">لنگر</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/animated-icons.html">آیکون‌های متحرک</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/background.html">زمینه</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/badges.html">نشان ها</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/breadcrumbs.html">نشانگر صفحات</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/buttons.html">دکمه ها</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/calendar.html">تقویم</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/cards.html">کارت ها</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/carousel/bootstrap.html">اسلایدر بوت استرپ</a>
                                    </div>
                                </div>
                                <div class="col-6 col-xxl-3">
                                    <div class="nav flex-column mt-md-4 pt-md-1"><a class="nav-link py-1 link-600 fw-medium" href="modules/components/carousel/swiper.html">رفتگر</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/collapse.html">باز و بسته شدن</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/cookie-notice.html">اطلاعیه کوکی</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/countup.html">شمارش</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/draggable.html">کشیدن و رها کردن</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/dropdowns.html">کشویی</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/list-group.html">گروه لیست</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/modals.html">مودال ها</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/navs-and-tabs/navs.html">Navs</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/navs-and-tabs/navbar.html">نوار ناوبری</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/navs-and-tabs/vertical-navbar.html">نوار ناوبری عمودی</a></div>
                                </div>
                                <div class="col-6 col-xxl-3">
                                    <div class="nav flex-column mt-xxl-4 pt-xxl-1"><a class="nav-link py-1 link-600 fw-medium" href="modules/components/navs-and-tabs/top-navbar.html">نوار ناوبری بالا</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/navs-and-tabs/combo-navbar.html">نوار ناوبری ترکیبی</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/navs-and-tabs/tabs.html">زبانه ها</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/offcanvas.html">خارج از بوم</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/pictures/avatar.html">آواتار</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/pictures/images.html">تصاویر</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/pictures/figures.html">شماره</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/pictures/hoverbox.html">جعبه ساعت</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/pictures/lightbox.html">لایت‌باکس</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/progress-bar.html">نوار پیشرفت</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/placeholder.html">پلیس هولدر</a></div>
                                </div>
                                <div class="col-6 col-xxl-3">
                                    <div class="nav flex-column mt-xxl-4 pt-xxl-1"><a class="nav-link py-1 link-600 fw-medium" href="modules/components/pagination.html">صفحه بندی</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/popovers.html">پاپ آورها</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/scrollspy.html">Scrollspy</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/search.html">جستجو کردن</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/spinners.html">اسپینرها</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/toasts.html">اعلان toast</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/tooltips.html">تولتیپ‌ها</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/treeview.html">نمای درختی<span class="badge rounded-pill ms-2 badge-soft-success">جدید</span></a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/typed-text.html">متن تایپ شده</a><a class="nav-link py-1 link-600 fw-medium" href="modules/components/videos/embed.html">embed</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="documentations">مستندات</a>
                <div class="dropdown-menu dropdown-menu-card border-0 mt-0" aria-labelledby="documentations">
                    <div class="bg-white dark__bg-1000 rounded-3 py-2"><a class="dropdown-item link-600 fw-medium" href="https://prium.github.io/falcon/v3.4.0/documentation/getting-started.html" target="_blank">شروع کنید</a><a class="dropdown-item link-600 fw-medium" href="https://prium.github.io/falcon/v3.4.0/documentation/configuration.html" target="_blank">پیکربندی</a><a class="dropdown-item link-600 fw-medium" href="https://prium.github.io/falcon/v3.4.0/documentation/styling.html" target="_blank">طراحی ظاهر</a><a class="dropdown-item link-600 fw-medium" href="https://prium.github.io/falcon/v3.4.0/documentation/dark-mode.html" target="_blank">حالت تاریک<span class="badge rounded-pill ms-2 badge-soft-success">جدید</span></a><a class="dropdown-item link-600 fw-medium" href="https://prium.github.io/falcon/v3.4.0/documentation/plugin.html" target="_blank">پلاگین</a><a class="dropdown-item link-600 fw-medium" href="https://prium.github.io/falcon/v3.4.0/documentation/gulp.html" target="_blank">گلپ</a><a class="dropdown-item link-600 fw-medium" href="https://prium.github.io/falcon/v3.4.0/documentation/design-file.html" target="_blank">فایل طراحی</a><a class="dropdown-item link-600 fw-medium" href="https://prium.github.io/falcon/v3.4.0/changelog.html" target="_blank">تغییرات</a></div>
                </div>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav navbar-nav-icons ms-auto flex-row align-items-center">
        <li class="nav-item">
            <div class="theme-control-toggle fa-icon-wait px-2"><input class="form-check-input ms-0 theme-control-toggle-input" id="themeControlToggle" type="checkbox" data-theme-control="theme" value="dark"><label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="به طرح زمینه روشن بروید"><span class="fas fa-sun fs-0"></span></label><label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggle" data-bs-toggle="tooltip" data-bs-placement="left" title="به طرح زمینه تیره بروید"><span class="fas fa-moon fs-0"></span></label></div>
        </li>
        <li class="nav-item">
            <a class="nav-link px-0 notification-indicator notification-indicator-warning notification-indicator-fill fa-icon-wait" href="app/e-commerce/shopping-cart.html"><span class="fas fa-shopping-cart" data-fa-transform="shrink-7" style="font-size: 33px;"></span><span class="notification-indicator-number">1</span></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link notification-indicator notification-indicator-primary px-0 fa-icon-wait" id="navbarDropdownNotification" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-bell" data-fa-transform="shrink-6" style="font-size: 33px;"></span></a>
            <div class="dropdown-menu dropdown-menu-end dropdown-menu-card dropdown-menu-notification" aria-labelledby="navbarDropdownNotification">
                <div class="card card-notification shadow-none">
                    <div class="card-header">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <h6 class="card-header-title mb-0">اطلاعیه</h6>
                            </div>
                            <div class="col-auto ps-0 ps-sm-3"><a class="card-link fw-normal" href="#">همه را به عنوان خوانده شده علامت بزن</a></div>
                        </div>
                    </div>
                    <div class="scrollbar-overlay" style="max-height:19rem">
                        <div class="list-group list-group-flush fw-normal fs--1">
                            <div class="list-group-title border-bottom">جدید</div>
                            <div class="list-group-item">
                                <a class="notification notification-flush notification-unread" href="#!">
                                    <div class="notification-avatar">
                                        <div class="avatar avatar-2xl me-3">
                                            <img class="rounded-circle" src="/Admin/assets/img/team/1-thumb.png" alt="">
                                        </div>
                                    </div>
                                    <div class="notification-body">
                                        <p class="mb-1"><strong>اما واتسون</strong> به نظر شما پاسخ داد: "سلام دنیا 😍"</p>
                                        <span class="notification-time"><span class="me-2" role="img" aria-label="ایموجی">💬</span> همین الان</span>
                                    </div>
                                </a>
                            </div>
                            <div class="list-group-item">
                                <a class="notification notification-flush notification-unread" href="#!">
                                    <div class="notification-avatar">
                                        <div class="avatar avatar-2xl me-3">
                                            <div class="avatar-name rounded-circle"><span>آ.ب</span></div>
                                        </div>
                                    </div>
                                    <div class="notification-body">
                                        <p class="mb-1"><strong>آلبرت بروکس</strong> به وضعیت <strong>مینا احمدی</strong> واکنش نشان داد</p>
                                        <span class="notification-time"><svg class="svg-inline--fa fa-gratipay fa-w-16 me-2 text-danger" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="gratipay" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" data-fa-i2svg=""><path fill="currentColor" d="M248 8C111.1 8 0 119.1 0 256s111.1 248 248 248 248-111.1 248-248S384.9 8 248 8zm114.6 226.4l-113 152.7-112.7-152.7c-8.7-11.9-19.1-50.4 13.6-72 28.1-18.1 54.6-4.2 68.5 11.9 15.9 17.9 46.6 16.9 61.7 0 13.9-16.1 40.4-30 68.1-11.9 32.9 21.6 22.6 60 13.8 72z"></path></svg><!-- <span class="me-2 fab fa-gratipay text-danger"></span> Font Awesome fontawesome.com -->9 ساعت</span>
                                    </div>
                                </a>
                            </div>
                            <div class="list-group-title border-bottom">قبل تر</div>
                            <div class="list-group-item">
                                <a class="notification notification-flush" href="#!">
                                    <div class="notification-avatar">
                                        <div class="avatar avatar-2xl me-3">
                                            <img class="rounded-circle" src="/Admin/assets/img/icons/weather-sm.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="notification-body">
                                        <p class="mb-1">پیش بینی امروز کمترین دمای 20 درجه در کالیفرنیا را نشان می دهد. </p>
                                        <span class="notification-time"><span class="me-2" role="img" aria-label="Emoji">🌤️</span>1روز</span>
                                    </div>
                                </a>
                            </div>
                            <div class="list-group-item">
                                <a class="border-bottom-0 notification-unread  notification notification-flush" href="#!">
                                    <div class="notification-avatar">
                                        <div class="avatar avatar-xl me-3">
                                            <img class="rounded-circle" src="/Admin/assets/img/logos/oxford.png" alt="">
                                        </div>
                                    </div>
                                    <div class="notification-body">
                                        <p class="mb-1"><strong>دانشگاه آکسفورد</strong>  رویدادی ایجاد کرد: "استنتاج علی هیلاری 2019"</p>
                                        <span class="notification-time"><span class="me-2" role="img" aria-label="Emoji">✌️</span>1هفته</span>
                                    </div>
                                </a>
                            </div>
                            <div class="list-group-item">
                                <a class="border-bottom-0 notification notification-flush" href="#!">
                                    <div class="notification-avatar">
                                        <div class="avatar avatar-xl me-3">
                                            <img class="rounded-circle" src="/Admin/assets/img/team/10.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="notification-body">
                                        <p class="mb-1"><strong>جیمز کامرون</strong>  برای پیوستن به این گروه دعوت شد: صندوق بین المللی کودکان سازمان ملل</p>
                                        <span class="notification-time"><span class="me-2" role="img" aria-label="Emoji">🙋‍</span>2روز</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center border-top"><a class="card-link d-block" href="app/social/notifications.html">دیدن همه</a></div>
                </div>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link pe-0" id="navbarDropdownUser" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-xl">
                    <img class="rounded-circle" src="/Admin/assets/img/team/3-thumb.png" alt="">
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end py-0" aria-labelledby="navbarDropdownUser">
                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                    <a class="dropdown-item fw-bold text-warning" href="#!"><span class="fas fa-crown me-1"></span><span>اشتراک ویژه</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#!">تنظیم وضعیت</a>
                    <a class="dropdown-item" href="pages/user/profile.html">نمایه و حساب کاربری</a>
                    <a class="dropdown-item" href="#!">بازخورد</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="pages/user/settings.html">تنظیمات</a>
                    <a class="dropdown-item" href="pages/authentication/card/logout.html">خروج</a>
                </div>
            </div>
        </li>
    </ul>
</nav>
<script>
    var navbarPosition = localStorage.getItem('navbarPosition');
    var navbarVertical = document.querySelector('.navbar-vertical');
    var navbarTopVertical = document.querySelector('.content .navbar-top');
    var navbarTop = document.querySelector('[data-layout] .navbar-top');
    var navbarTopCombo = document.querySelector('.content [data-navbar-top="combo"]');
    if (navbarPosition === 'top') {
        navbarTop.removeAttribute('style');
        navbarTopVertical.remove(navbarTopVertical);
        navbarVertical.remove(navbarVertical);
        navbarTopCombo.remove(navbarTopCombo);
    } else if (navbarPosition === 'combo') {
        navbarVertical.removeAttribute('style');
        navbarTopCombo.removeAttribute('style');
        navbarTop.remove(navbarTop);
        navbarTopVertical.remove(navbarTopVertical);
    } else {
        navbarVertical.removeAttribute('style');
        navbarTopVertical.removeAttribute('style');
        navbarTop.remove(navbarTop);
        navbarTopCombo.remove(navbarTopCombo);
    }
</script>
